@tailwind base;
@import './base.scss';

@tailwind components;
@import './components.scss';

@tailwind utilities;


.has-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(315deg, #9B66FF 0%, #6236FF 100%);
  background-image: url('/img/bg@1x.png');
  background-size: 2558px 900px;
  background-position: top center;
  min-height: 900px;
  @media (min-resolution: 2dppx) {
    background-image: url('/img/bg@2x.png');
  }
}
